In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

pd.set_option('display.max_columns', None)

In [4]:
# Import our input dataset
attrition_df = pd.read_csv('HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,2,Female,94,3,2,Sales Executive,4,Single,5993,19479,8,Y,Yes,11,3,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,3,Male,61,2,2,Research Scientist,2,Married,5130,24907,1,Y,No,23,4,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,4,Male,92,2,1,Laboratory Technician,3,Single,2090,2396,6,Y,Yes,15,3,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,4,Female,56,3,1,Research Scientist,3,Married,2909,23159,1,Y,Yes,11,3,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,1,Male,40,3,1,Laboratory Technician,2,Married,3468,16632,9,Y,No,12,3,4,80,1,6,3,3,2,2,2,2

In [6]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()
attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [7]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Female,Gender_Male,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [9]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Female,Gender_Male,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,4,5993,19479,8,11,3,1,80,0,8,0,1,6,4,0,5,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,2,5130,24907,1,23,4,4,80,1,10,3,3,10,7,1,7,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,3,2090,2396,6,15,3,2,80,0,7,3,3,0,0,0,0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,3,2909,23159,1,11,3,3,80,0,8,3,3,8,7,3,0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,2,3468,16632,9,12,3,4,80,1,6,3,3,2,2,2,2,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [10]:
# Looking for Attrition risk - Don't need Attrition No column
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Train on 1102 samples
Epoch 1/100
1102/1102 [==============================] - 2s 2ms/sample - loss: 86.3213 - accuracy: 0.6316
Epoch 2/100
1102/1102 [==============================] - 0s 77us/sample - loss: 36.9674 - accuracy: 0.7704
Epoch 3/100
1102/1102 [==============================] - 0s 70us/sample - loss: 21.9959 - accuracy: 0.7786
Epoch 4/100
1102/1102 [==============================] - 0s 73us/sample - loss: 8.5819 - accuracy: 0.7632
Epoch 5/100
1102/1102 [==============================] - 0s 72us/sample - loss: 3.0160 - accuracy: 0.7868
Epoch 6/100
1102/1102 [==============================] - 0s 72us/sample - loss: 1.7348 - accuracy: 0.7985
Epoch 7/100
1102/1102 [==============================] - 0s 69us/sample - loss: 1.3392 - accuracy: 0.8176
Epoch 8/100
1102/1102 [==============================] - 0s 73us/sample - loss: 1.1387 - accuracy: 0.8203
Epoch 9/100
1102/1102 [==============================] - 0s 74us/sample - loss: 0.9893 - accuracy: 0.8058
Epoch 10/100
1102/1102 [==============================] - 0s 70us/sample - loss: 0.8538 - accuracy: 0.8113
Epoch 11/100
1102/1102 [==============================] - 0s 75us/sample - loss: 0.8398 - accuracy: 0.8067
Epoch 12/100
1102/1102 [==============================] - 0s 74us/sample - loss: 0.7340 - accuracy: 0.8240
Epoch 13/100
1102/1102 [==============================] - 0s 71us/sample - loss: 0.7245 - accuracy: 0.8085
Epoch 14/100
1102/1102 [==============================] - 0s 86us/sample - loss: 0.7096 - accuracy: 0.8149
Epoch 15/100
1102/1102 [==============================] - 0s 96us/sample - loss: 0.6713 - accuracy: 0.8258
Epoch 16/100
1102/1102 [==============================] - 0s 85us/sample - loss: 0.6472 - accuracy: 0.8194
Epoch 17/100
1102/1102 [==============================] - 0s 75us/sample - loss: 0.6664 - accuracy: 0.8076
Epoch 18/100
1102/1102 [==============================] - 0s 73us/sample - loss: 0.6183 - accuracy: 0.8103
Epoch 19/100
1102/1102 [==============================] - 0s 70us/sample - loss: 0.5983 - accuracy: 0.8249
Epoch 20/100
1102/1102 [==============================] - 0s 70us/sample - loss: 0.5807 - accuracy: 0.8258
Epoch 21/100
1102/1102 [==============================] - 0s 71us/sample - loss: 0.5940 - accuracy: 0.8185
Epoch 22/100
1102/1102 [==============================] - 0s 70us/sample - loss: 0.5957 - accuracy: 0.8249
Epoch 23/100
1102/1102 [==============================] - 0s 78us/sample - loss: 0.5713 - accuracy: 0.8085
Epoch 24/100
1102/1102 [==============================] - 0s 79us/sample - loss: 0.5473 - accuracy: 0.8276
Epoch 25/100
1102/1102 [==============================] - 0s 83us/sample - loss: 0.5768 - accuracy: 0.8176
Epoch 26/100
1102/1102 [==============================] - 0s 74us/sample - loss: 0.5355 - accuracy: 0.8240
Epoch 27/100
1102/1102 [==============================] - 0s 73us/sample - loss: 0.5255 - accuracy: 0.8303
Epoch 28/100
1102/1102 [==============================] - 0s 70us/sample - loss: 0.5303 - accuracy: 0.8258
Epoch 29/100
1102/1102 [==============================] - 0s 69us/sample - loss: 0.5598 - accuracy: 0.8031
Epoch 30/100
1102/1102 [==============================] - 0s 72us/sample - loss: 0.5405 - accuracy: 0.8176
Epoch 31/100
1102/1102 [==============================] - 0s 74us/sample - loss: 0.5118 - accuracy: 0.8230
Epoch 32/100
1102/1102 [==============================] - 0s 72us/sample - loss: 0.5632 - accuracy: 0.8094
Epoch 33/100
1102/1102 [==============================] - 0s 71us/sample - loss: 0.5377 - accuracy: 0.8094
Epoch 34/100
1102/1102 [==============================] - 0s 70us/sample - loss: 0.5274 - accuracy: 0.8221
Epoch 35/100
1102/1102 [==============================] - 0s 74us/sample - loss: 0.5259 - accuracy: 0.8113
Epoch 36/100
1102/1102 [==============================] - 0s 69us/sample - loss: 0.4897 - accuracy: 0.8240
Epoch 37/100
1102/1102 [==============================] - 0s 76us/sample - loss: 0.5003 - accuracy: 0.8249
Epoch 38/100
1102/1102 [==============================] - 0s 73us/sample - loss: 0.4869 - accuracy: 0.8285
Epoch 39/100
1102/1102 [==============================] - 0s 68us/sample - loss: 0.5215 - accuracy: 0.7985
Epoch 40/100
1102/1102 [==============================] - 0s 72us/sample - loss: 0.5306 - accuracy: 0.8094
Epoch 41/100
1102/1102 [==============================] - 0s 75us/sample - loss: 0.5067 - accuracy: 0.8221
Epoch 42/100
1102/1102 [==============================] - 0s 77us/sample - loss: 0.5188 - accuracy: 0.8276
Epoch 43/100
1102/1102 [==============================] - 0s 71us/sample - loss: 0.5118 - accuracy: 0.8176
Epoch 44/100
1102/1102 [==============================] - 0s 72us/sample - loss: 0.5085 - accuracy: 0.8212
Epoch 45/100
1102/1102 [==============================] - 0s 83us/sample - loss: 0.5554 - accuracy: 0.7985
Epoch 46/100
1102/1102 [==============================] - 0s 89us/sample - loss: 0.5167 - accuracy: 0.8194
Epoch 47/100
1102/1102 [==============================] - 0s 72us/sample - loss: 0.5078 - accuracy: 0.8131
Epoch 48/100
1102/1102 [==============================] - 0s 76us/sample - loss: 0.4798 - accuracy: 0.8258
Epoch 49/100
1102/1102 [==============================] - 0s 72us/sample - loss: 0.4815 - accuracy: 0.8330
Epoch 50/100
1102/1102 [==============================] - 0s 76us/sample - loss: 0.5222 - accuracy: 0.8167
Epoch 51/100
1102/1102 [==============================] - 0s 76us/sample - loss: 0.4925 - accuracy: 0.8240
Epoch 52/100
1102/1102 [==============================] - 0s 73us/sample - loss: 0.5196 - accuracy: 0.8203
Epoch 53/100
1102/1102 [==============================] - 0s 77us/sample - loss: 0.4989 - accuracy: 0.8103
Epoch 54/100
1102/1102 [==============================] - 0s 73us/sample - loss: 0.4883 - accuracy: 0.8230
Epoch 55/100
1102/1102 [==============================] - 0s 72us/sample - loss: 0.4840 - accuracy: 0.8158
Epoch 56/100
1102/1102 [==============================] - 0s 68us/sample - loss: 0.4869 - accuracy: 0.8249
Epoch 57/100
1102/1102 [==============================] - 0s 68us/sample - loss: 0.4854 - accuracy: 0.8094
Epoch 58/100
1102/1102 [==============================] - 0s 67us/sample - loss: 0.5025 - accuracy: 0.8149
Epoch 59/100
1102/1102 [==============================] - 0s 69us/sample - loss: 0.4889 - accuracy: 0.8049
Epoch 60/100
1102/1102 [==============================] - 0s 69us/sample - loss: 0.4884 - accuracy: 0.8212
Epoch 61/100
1102/1102 [==============================] - 0s 69us/sample - loss: 0.5112 - accuracy: 0.8031
Epoch 62/100
1102/1102 [==============================] - 0s 70us/sample - loss: 0.4701 - accuracy: 0.8267
Epoch 63/100
1102/1102 [==============================] - 0s 73us/sample - loss: 0.4883 - accuracy: 0.8221
Epoch 64/100
1102/1102 [==============================] - 0s 70us/sample - loss: 0.4606 - accuracy: 0.8294
Epoch 65/100
1102/1102 [==============================] - 0s 66us/sample - loss: 0.4717 - accuracy: 0.8303
Epoch 66/100
1102/1102 [==============================] - 0s 68us/sample - loss: 0.4609 - accuracy: 0.8285
Epoch 67/100
1102/1102 [==============================] - 0s 68us/sample - loss: 0.4843 - accuracy: 0.8176
Epoch 68/100
1102/1102 [==============================] - 0s 70us/sample - loss: 0.4867 - accuracy: 0.8176
Epoch 69/100
1102/1102 [==============================] - 0s 69us/sample - loss: 0.5604 - accuracy: 0.7913
Epoch 70/100
1102/1102 [==============================] - 0s 68us/sample - loss: 0.4897 - accuracy: 0.8185
Epoch 71/100
1102/1102 [==============================] - 0s 70us/sample - loss: 0.4731 - accuracy: 0.8249
Epoch 72/100
1102/1102 [==============================] - 0s 69us/sample - loss: 0.4956 - accuracy: 0.8067
Epoch 73/100
1102/1102 [==============================] - 0s 71us/sample - loss: 0.5198 - accuracy: 0.8140
Epoch 74/100
1102/1102 [==============================] - 0s 71us/sample - loss: 0.4878 - accuracy: 0.8085
Epoch 75/100
1102/1102 [==============================] - 0s 69us/sample - loss: 0.4727 - accuracy: 0.8267
Epoch 76/100
1102/1102 [==============================] - 0s 68us/sample - loss: 0.4551 - accuracy: 0.8276
Epoch 77/100

1102/1102 [==============================] - 0s 70us/sample - loss: 0.4723 - accuracy: 0.8122
Epoch 78/100
1102/1102 [==============================] - 0s 70us/sample - loss: 0.4763 - accuracy: 0.8113
Epoch 79/100
1102/1102 [==============================] - 0s 72us/sample - loss: 0.4613 - accuracy: 0.8240
Epoch 80/100
1102/1102 [==============================] - 0s 65us/sample - loss: 0.4580 - accuracy: 0.8294
Epoch 81/100
1102/1102 [==============================] - 0s 68us/sample - loss: 0.5021 - accuracy: 0.8049
Epoch 82/100
1102/1102 [==============================] - 0s 68us/sample - loss: 0.4637 - accuracy: 0.8230
Epoch 83/100
1102/1102 [==============================] - 0s 69us/sample - loss: 0.4490 - accuracy: 0.8303
Epoch 84/100
1102/1102 [==============================] - 0s 71us/sample - loss: 0.4559 - accuracy: 0.8303
Epoch 85/100
1102/1102 [==============================] - 0s 70us/sample - loss: 0.4502 - accuracy: 0.8258
Epoch 86/100
1102/1102 [==============================] - 0s 70us/sample - loss: 0.4615 - accuracy: 0.8230
Epoch 87/100
1102/1102 [==============================] - 0s 72us/sample - loss: 0.4567 - accuracy: 0.8249
Epoch 88/100
1102/1102 [==============================] - 0s 73us/sample - loss: 0.4569 - accuracy: 0.8267
Epoch 89/100
1102/1102 [==============================] - 0s 71us/sample - loss: 0.4477 - accuracy: 0.8294
Epoch 90/100
1102/1102 [==============================] - 0s 82us/sample - loss: 0.4449 - accuracy: 0.8303
Epoch 91/100
1102/1102 [==============================] - 0s 83us/sample - loss: 0.4481 - accuracy: 0.8267
Epoch 92/100
1102/1102 [==============================] - 0s 78us/sample - loss: 0.4448 - accuracy: 0.8294
Epoch 93/100
1102/1102 [==============================] - 0s 73us/sample - loss: 0.4519 - accuracy: 0.8267
Epoch 94/100
1102/1102 [==============================] - 0s 73us/sample - loss: 0.4509 - accuracy: 0.8230
Epoch 95/100
1102/1102 [==============================] - 0s 68us/sample - loss: 0.4494 - accuracy: 0.8285
Epoch 96/100
1102/1102 [==============================] - 0s 68us/sample - loss: 0.4495 - accuracy: 0.8312
Epoch 97/100
1102/1102 [==============================] - 0s 75us/sample - loss: 0.4492 - accuracy: 0.8321
Epoch 98/100
1102/1102 [==============================] - 0s 76us/sample - loss: 0.4518 - accuracy: 0.8249
Epoch 99/100
1102/1102 [==============================] - 0s 68us/sample - loss: 0.4515 - accuracy: 0.8285
Epoch 100/100
1102/1102 [==============================] - 0s 69us/sample - loss: 0.4500 - accuracy: 0.8267

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

368/1 - 0s - loss: 0.3359 - accuracy: 0.8723
Loss: 0.3863052725791931, Accuracy: 0.8722826242446899